body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(./assets/images/stars.jpg);
    color: white;
}
section{
    text-align: center;
    padding: 2rem;
}

.hi{
    padding: 3rem;
    color: rgb(253, 253, 253);
}

header{
    /*padding: 3rem 3rem 3rem 3rem;*/
    
}

.avatar{
    border-radius: 50%;
}

p{
    font-size: x-large;
    background-color: rgb(29, 25, 25);
    padding: 4rem
}

h1{
    background-color: rgb(10, 10, 12);
    border: darkgoldenrod;
    padding: 1rem;
    border-radius: 5%;
}