
body{
    font-size: x-large;
    background-color: black;
    margin: 0;
    padding: 0;
}

header{
    background-color: cornsilk;
}


.avatar{
    padding: 3rem 3rem;
    width: 100%;
    max-width: 25rem;
    border-radius: 50%;
    float: right;   
}

span{
    background-color: inherit;
}

.hi{
    float:left;
}

p{
    color: red;
    background-color: beige;
}

